body{
  margin:0;
  padding: 0;
  background-image: url("https://imgs.search.brave.com/g72NeFHmCsddDmXG8ypA5jEx7mdHb5f2ov1Ej7mI-Mc/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC83cmhyc0lm/LmpwZw");
  background-size: cover;
  backdrop-filter: blur(5px) contrast(1);
}
button{
  background-color: rgb(174, 43, 17);
  height: 35px;
  color: white;
  border: none;
}
input{
  height:30px;
  margin: 5px;
}
select{
  height:40px;
  margin-top: 15px;
}
.ins{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}
@media(max-width:500px) {
  .ins{
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-self: center;
  }
}